.container {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(5px); /* Apply a blur effect */
  background-image: url("/images/cod6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: beige;
}