.parent_div {
  backdrop-filter: blur(50px); /* Apply a blur effect */
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.91);
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin: 0;

  .container {
    width: 100vw;
    margin-top: 4rem;
    padding: 0px;

    .upper_grid {
      margin-bottom: 9.5rem;

      .button {
        margin: 3rem 1rem;
        width: fit-content;
        .register_button {
          text-align: center;
          font-weight: 700;
          font-family: monospace;
          padding: 1rem 1.5rem;
          background-color: rgb(50, 155, 197);
          color: rgb(59, 51, 44);
          font-size: x-large;
          width: 19rem;
          height: 4rem;
          clip-path: polygon(
            25% 0%,
            100% 0%,
            100% 50%,
            75% 100%,
            0% 100%,
            0% 25%
          );
        }
      }
    }

    .button:hover {
      transform: scale(1.01);
      box-shadow: 0 12px 16px 0 rgba(243, 230, 230, 0.24),
        0 17px 50px 0 rgba(218, 121, 121, 0.19);
    }

    .subtitle1 {
      margin-top: 1rem;
      color: rgb(235, 199, 199);
      font-size: 25px;
      font-weight: 550;
      font-family: monospace;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    }

    .mid_grid {
      height: fit-content;
      filter: saturate(100%);
      background-image: url("/images/esports.jpg");
      background-repeat: no-repeat;

      .title_grid {
        width: 100vw;
        height: fit-content;
        backdrop-filter: blur(3px); /* Apply a blur effect */
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        .title {
          font-size: 90px;
          font-weight: 600;
          color: antiquewhite;
          line-height: 5rem;
          text-shadow: 5px 5px rgba(0, 0, 0, 0.8);
        }

        .button {
          margin: 2rem;
          width: fit-content;
          padding: 1rem 2.5rem;
          border-style: groove;
          border: 2px;
          background-color: rgb(94, 188, 201);
          color: rgb(99, 46, 42);
          font-family: monospace;
          border-radius: 180px;
          font-size: 25px;
          font-weight: 600;
        }
      }
    }

    .testimonial_grid {
      background-image: url("/images/testimonial-bg.jpg");
      // background-image: url("/images/texture-bg.png");
      height: fit-content;
      background-repeat: no-repeat;
      background-size: 100vw;
      filter: saturate(60%);

      .testimonial_title {
        width: 100vw;
        height: fit-content;
        padding: 7rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(42, 45, 233, 0.74);

        .title3 {
          text-align: center;
          width: 70%;
          span {
            color: aquamarine;
            font-weight: 600;
            font-size: 50px;
          }
        }
      }
    }

    .partners_grid {
      .partners_title {
        backdrop-filter: blur(3px); /* Apply a blur effect */
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        text-align: center;

        span {
          margin-top: 1rem;
          font-size: 50px;
          font-weight: bolder;
          font-family: monospace;
          color: rgb(57, 73, 87);
        }

        .cards {
          margin: 1rem;
          width: fit-content;
          height: fit-content;
          padding: 1rem;
          padding-bottom: 5rem;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;

          .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1rem;
            height: 15rem;
            width: 12rem;
            border-radius: 7px;
            background-color: rgba(205, 226, 224, 0.288);
            color: aliceblue;
            overflow: hidden;

            img {
              height: 13rem;
              width: 12rem;
            }

            span {
              margin: 0;
              padding: 0.5rem;
              font-size: 16px;
              color: aquamarine;
            }
          }
        }
      }
    }
  }
}

@import "./typed";

// typewriter
.inputwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  width: 100%;
  margin-top: 6rem;
  height: fit-content;
  flex-wrap: wrap;
  color: rgb(235, 199, 199);
  font-weight: 550;

  .subtitle2 {
    margin-top: 0.5rem;
    font-size: 20px;
  }

  input,
  .placeholder {
    display: block;
    font-size: 80px;
    appearance: none;
    width: fit-content;
    height: 100%;
    line-height: normal;
  }

  .placeholder {
    pointer-events: none;
    @include typed(
      "be the next Champion🏆",
      1,
      (
        caret-width: 2px,
        caret-space: 2px,
      )
    );
  }
}
