@import "./typed";

.container {
  width: 100%;
  height: 100%;
  margin-top: 6rem;
  background-color: transparent;
  backdrop-filter: blur(5px); /* Apply a blur effect */


  & .outer_container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    direction: row;
    margin-top: 2rem;
    height: inherit;

    & .card {
      border: 1px;
      border-radius: 15px;
      width: 49%;
      height: 550px;
      background-color: rgba(120, 143, 137, 0.486);
    }
  }
}

.inputwrapper {
  display: block;
  font-family: monospace;
  font-size: 125%;
  width: 80%;

  > input,
  > .placeholder {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }

  > .placeholder {
    pointer-events: none;
    @include typed(
      "Reach out to us if you have any queries about the tournaments or anything else.",
      1.5,
      (
        caret-width: 2px,
        caret-space: 2px,
      )
    );
  }

  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}
